alembic==1.6.5
aniso8601==9.0.1
appdirs==1.4.4
bcrypt==3.2.0
black==19.10b0
certifi==2021.5.30
cffi==1.14.6
colorama==0.4.4
dataclasses==0.6
Flask==2.0.1
Flask-Bcrypt==0.7.1
flask-expects-json==1.6.0
Flask-Login==0.5.0
Flask-Migrate==3.1.0
flask-restx==0.5.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
Mako==1.1.5
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.7.0
pycparser==2.20
pyrsistent==0.18.0
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.23
Werkzeug==2.0.1
wincertstore==0.2
